@page "/auth"
@using System.ComponentModel.DataAnnotations
@using BookAndShop.Models
@inject MyDbContext context
@inject NavigationManager manager

    <div class="Auth-Wrapper">
        <EditForm Model="@model">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText type="text" placeholder="Login" @bind-Value="@model.Login" />
            <p style="color:red">@Error</p>
            <InputText type="password" placeholder="Password" @bind-Value="@model.Password" />
            <button type="submit" @onclick="LogIn">Войти</button>
        </EditForm>
    </div>


@code{
    string Error{ get; set; }

    class Auth
    {
        [Required]
        public string Login { get; set; }
        [Required]
        public string Password { get; set; }
    }

    private Auth model = new Auth();

    private void LogIn()
    {
        if(context.Users.Where(x => x.Login == model.Login && x.Password == model.Password).Count()>0)
        {
            manager.NavigateTo("/");
        }
        else
        {
            Error = "Неверный лоигн или пароль!";
        }
    }
}