@page "/generic"
@using BookAndShop.Models
@using Microsoft.EntityFrameworkCore
@inject MyDbContext context

<div>   
    <h1>В данном разделе Вы можете найте все интересующие жанры книг.</h1>
</div>

@*<section class="post">
	@foreach (var item in Data)
    {
		<article>
			<header class="major">
				<span class="date"></span>
				<h2>@item.Name:</h2>
				<p></p>
			</header>
			<div class="image main"><img src="" alt="" /></div>
			<div style="width:500px;margin:0 auto;">
				<p>Книги этого жанра:</p>
				<ul>
					@foreach (var item in Data)
					{
						<li>"@item.Title" - @item.Author.Fio</li>
					}		
				</ul>
			</div>
		</article>
	}
	
@*	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus. Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum.</p>
</section>
*@
@*@code{
    List<Genre> Data{ get; set; }
    protected override void OnInitialized()
    {
        Data = context.Genres.Include(x => x.Books).ThenInclude(x => x.Author).ToList();
    }
}*@