@page "/"
@inject NavigationManager navigationManager


	

	<!-- Featured Post -->
		<article class="post featured">
			<header class="major">
				<span class="date">Онлайн-магазин книг</span>
				<h2><a>Book&Shop<br /></a></h2>
				<p>Мы один из крупнейших магазинов книг России,<br /> в нашем асортименте вы найдете любую книгу на любом из языков мира!</p>
				<p>Для партнеров<br /> контанкты указаны ниже, свяжитесь с нами любым удобным способом.</p>
			</header>
			<a class="image main"><img src="" alt="" /></a>
			<ul class="actions special">
				<li><a @onclick="@(x => urlChanged("/books"))" class="button large">К книгам!</a></li>
			</ul>
		</article>



@code{
	void urlChanged(string url)
	{
		var Url = url;
		navigationManager.NavigateTo(url);
	}
}