

<div style="width:100%;">
    <lord-icon
        src="https://cdn.lordicon.com/stxtcyyo.json"
        trigger="loop"
        colors="primary:#121331"
        state="loop"
        style="width:250px;height:250px; margin:0 auto;">
    </lord-icon>
</div>
